# Spark Operations using Spark DataFrames and Spark SQL

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz

!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

### 1.Create  SparkSession

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
      .builder \
      .appName('PySpark on Google Colab') \
      .master('local[*]') \
      .getOrCreate()

### 2. Check the Spark Session Configuration

In [ ]:
spark

In [ ]:
sc = spark.sparkContext

In [ ]:
sc

## ** Spark DataFrame **

#### A DataFrame is the most common Structured API and simply represents a table of data with rows and columns. 
<br> The list that defines the columns and the types within those columns is called the schema. 
<br> One can think of a DataFrame as a spreadsheet with named columns.
<br> A spreadsheet sits on one computer in one specific location, whereas a Spark DataFrame can span thousands of computers.
<br> The reason for putting the data on more than one computer should be intuitive: 
<br>     either the data is too large to fit on one machine or 
<br>     it would simply take too long to perform that computation on one machine.

#### NOTE
Spark has several core abstractions: Datasets, DataFrames, SQL Tables, and Resilient Distributed Datasets (RDDs). 
<br> These different abstractions all represent distributed collections of data. 
<br> The easiest and most efficient are DataFrames, which are available in all languages.

### 3. Create Dataframe

In [ ]:
myDF = spark.createDataFrame([[1, 'Alice', 30],
                              [2, 'Bob', 28],
                              [3, 'Cathy', 31], 
                              [4, 'Dave', 56]], ['Id', 'Name', 'Age'])

myDF.show()

+---+-----+---+
| Id| Name|Age|
+---+-----+---+
|  1|Alice| 30|
|  2|  Bob| 28|
|  3|Cathy| 31|
|  4| Dave| 56|
+---+-----+---+

#### Create Dataframe from an RDD

In [ ]:
# Reading from local file system.
#trainRDD = sc.textFile("file:///home/thomasj/Batch78/SparkSQL/SalesData/train.csv")

# Read from hdfs file system.
trainRDD = sc.textFile("drive/My Drive/google_cloud/data/SalesData/train.csv")
print("Total Records with header: ", trainRDD.count())

('Total Records with header: ', 550069)

In [ ]:
print("\nFirst Two Records Before Removing Header\n")

First Two Records Before Removing Header

In [ ]:
header = trainRDD.first()
header

u'User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase'

In [ ]:
trainRDD = trainRDD.filter(lambda line: line != header)
print("Total Records without header: ", trainRDD.count())
print("\nFirst Two Records After Removing Header\n")
print(trainRDD.take(2))

('Total Records without header: ', 550068)

First Two Records After Removing Header

[u'1000001,P00069042,F,0-17,10,A,2,0,3,,,8370', u'1000001,P00248942,F,0-17,10,A,2,0,1,6,14,15200']

In [ ]:
# Split the data into individual columns
splitRDD = trainRDD.map(lambda row:row.split(","))
print("\nFirst Two Records After Split/Parsing\n")
print(splitRDD.take(2))

First Two Records After Split/Parsing

[[u'1000001', u'P00069042', u'F', u'0-17', u'10', u'A', u'2', u'0', u'3', u'', u'', u'8370'], [u'1000001', u'P00248942', u'F', u'0-17', u'10', u'A', u'2', u'0', u'1', u'6', u'14', u'15200']]

#### Create a dataframe for the above Data
1. Define Schema
2. Create dataframe using the above schema

#### Create Schema

In [ ]:
from pyspark.sql.types import *

trainSchema = StructType([
    StructField("User_ID", StringType(), True),
    StructField("Product_ID", StringType(), True),
    StructField("Gender", StringType(), True),
    StructField("Age", StringType(), True),
    StructField("Occupation", StringType(), True),
    StructField("City_Category", StringType(), True),
    StructField("Stay_In_Current_City_Years",StringType(),True),
    StructField("Marital_Status", StringType(), True),
    StructField("Product_Category_1", StringType(), True),
    StructField("Product_Category_2", StringType(), True),
    StructField("Product_Category_3", StringType(), True),
    StructField("Purchase",StringType(),True)
])

#### Create DataFrame using toDF()

In [ ]:
trainDF = splitRDD.toDF(schema = trainSchema)
trainDF.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                  |                  |    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                  |                  |    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                  |    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                  |                  |    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

#### Create DataFrame using createDataFrame()

In [ ]:
trainDF = spark.createDataFrame(data = splitRDD, schema=trainSchema)
trainDF.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                  |                  |    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                  |                  |    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                  |    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                  |                  |    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

### 4. DataFrame Transformations & Actions

### Transformations
In Spark, the core data structures are immutable, meaning they cannot be changed after they’re created.
<br> To “change” a DataFrame, you need to instruct Spark how you would like to modify it to do what you want.
<br> These instructions are called transformations.
<br> Transformations are the core of how you express your business logic using Spark.
<br> Transformations are simply ways of specifying different series of data manipulation.

#### Create a dataframe with one column containing 100 rows with values from 0 to 99.

In [ ]:
myRange = spark.range(100).toDF('number')

In [ ]:
myRange.show(10)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
+------+
only showing top 10 rows

In [ ]:
divisBy2 = myRange.where("number % 2 = 0")
divisBy2

DataFrame[number: bigint]

Notice that these return no output. <br>This is because we specified only an abstract transformation, and Spark will not act on transformations until we call an action.

### Actions
Transformations allow us to build up our logical transformation plan. 
<br> To trigger the computation, we run an action.
<br> An action instructs Spark to compute a result from a series of transformations. 
<br> The simplest action is show, which displays the records in the DataFrame

#### There are 3 types of actions
Actions to view data in the console
<br>Actions to collect data 
<br>Actions to write to output data sources

In [ ]:
divisBy2.show()

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
|    20|
|    22|
|    24|
|    26|
|    28|
|    30|
|    32|
|    34|
|    36|
|    38|
+------+
only showing top 20 rows

In [ ]:
divisBy2.count()

50

In [ ]:
trainDF.take(2)

[Row(User_ID=u'1000001', Product_ID=u'P00069042', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'3', Product_Category_2=u'', Product_Category_3=u'', Purchase=u'8370'),
 Row(User_ID=u'1000001', Product_ID=u'P00248942', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'1', Product_Category_2=u'6', Product_Category_3=u'14', Purchase=u'15200')]

In [ ]:
trainDF.show(4,truncate=False)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age |Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001|P00069042 |F     |0-17|10        |A            |2                         |0             |3                 |                  |                  |8370    |
|1000001|P00248942 |F     |0-17|10        |A            |2                         |0             |1                 |6                 |14                |15200   |
|1000001|P00087842 |F     |0-17|10        |A            |2                         |0             |12                |                  |                  |1422    |
|1000001|P00085442 |F     |0-17|10        |A            |2                         |0             |12                |14                |                  |1057    |
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 4 rows

In [ ]:
trainDF.count()

550068

### 5. Reading a CSV file into a DataFrame

In [ ]:
path = "drive/My Drive/google_cloud/data/SalesData/train.csv"

In [ ]:
trainDF = spark.read.csv(path=path,header=True,schema=trainSchema,sep=",")

In [ ]:
trainDF.take(5)

[Row(User_ID=u'1000001', Product_ID=u'P00069042', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'3', Product_Category_2=None, Product_Category_3=None, Purchase=u'8370'),
 Row(User_ID=u'1000001', Product_ID=u'P00248942', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'1', Product_Category_2=u'6', Product_Category_3=u'14', Purchase=u'15200'),
 Row(User_ID=u'1000001', Product_ID=u'P00087842', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'12', Product_Category_2=None, Product_Category_3=None, Purchase=u'1422'),
 Row(User_ID=u'1000001', Product_ID=u'P00085442', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'12', Product_Category_2=u'14', Product_Category_3=None, Purchase=u'1057'),
 Row(User_ID=u'1000002', Product_ID=u'P00285442', Gender=u'M', Age=u'55+', Occupation=u'16', City_Category=u'C', Stay_In_Current_City_Years=u'4+', Marital_Status=u'0', Product_Category_1=u'8', Product_Category_2=None, Product_Category_3=None, Purchase=u'7969')]

In [ ]:
trainDF.show(5,truncate=False)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age |Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001|P00069042 |F     |0-17|10        |A            |2                         |0             |3                 |null              |null              |8370    |
|1000001|P00248942 |F     |0-17|10        |A            |2                         |0             |1                 |6                 |14                |15200   |
|1000001|P00087842 |F     |0-17|10        |A            |2                         |0             |12                |null              |null              |1422    |
|1000001|P00085442 |F     |0-17|10        |A            |2                         |0             |12                |14                |null              |1057    |
|1000002|P00285442 |M     |55+ |16        |C            |4+                        |0             |8                 |null              |null              |7969    |
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
trainDF.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

#### Getting the  shape of the spark data frame
* As such there is no shape command directly in spark we need to get it from the length of columns and 
  count of records

In [ ]:
## To Count the number of rows in DataFrame
print('Total records count in train dataset is {}'.format(trainDF.count()))

Total records count in train dataset is 550068

In [ ]:
## Columns count and column names
print("Total Columns count in train dataset is {}".format(len(trainDF.columns)))
print("\n\nColumns in train dataset are: {} \n".format(trainDF.columns))

Total Columns count in train dataset is 12


Columns in train dataset are: ['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'Purchase']

### 6. Verify Schema

In [ ]:
## Print Schema
trainDF.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

In [ ]:
trainDF.dtypes

[('User_ID', 'string'),
 ('Product_ID', 'string'),
 ('Gender', 'string'),
 ('Age', 'string'),
 ('Occupation', 'string'),
 ('City_Category', 'string'),
 ('Stay_In_Current_City_Years', 'string'),
 ('Marital_Status', 'string'),
 ('Product_Category_1', 'string'),
 ('Product_Category_2', 'string'),
 ('Product_Category_3', 'string'),
 ('Purchase', 'string')]

#### Getting the Columns from the SparkDataframe

In [ ]:
trainDF.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [ ]:
type(trainDF.columns)

list

### 7.To Show first n observations

In [ ]:
## Use head operation to see first n observations (say, 2 observations). 
## Head operation in PySpark is similar to head operation in Pandas.
trainDF.head(2)

[Row(User_ID=u'1000001', Product_ID=u'P00069042', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'3', Product_Category_2=None, Product_Category_3=None, Purchase=u'8370'),
 Row(User_ID=u'1000001', Product_ID=u'P00248942', Gender=u'F', Age=u'0-17', Occupation=u'10', City_Category=u'A', Stay_In_Current_City_Years=u'2', Marital_Status=u'0', Product_Category_1=u'1', Product_Category_2=u'6', Product_Category_3=u'14', Purchase=u'15200')]

In [ ]:
## Above results are comprised of row like format. 
## To see the result in more interactive manner (rows under the columns), Use the show operation. 
## Show operation on train and take first 5 rows of it. 
trainDF.show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 2 rows

### 8.Summary statistics

In [ ]:
## To get the summary statistics (mean, standard deviance, min ,max , count) of numerical columns in a DataFrame
trainDF.describe().show(truncate=False)

+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|User_ID           |Product_ID|Gender|Age   |Occupation       |City_Category|Stay_In_Current_City_Years|Marital_Status     |Product_Category_1|Product_Category_2|Product_Category_3|Purchase         |
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|count  |550068            |550068    |550068|550068|550068           |550068       |550068                    |550068             |550068            |376430            |166821            |550068           |
|mean   |1003028.8424013031|null      |null  |null  |8.076706879876669|null         |1.468494139793958         |0.40965298835780306|5.404270017525106 |9.842329251122386 |12.668243206790512|9263.968712959126|
|stddev |1727.5915855313747|null      |null  |null  |6.522660487341741|null         |0.9890866807573103        |0.4917701263173315 |3.936211369201365 |5.086589648693497 |4.125337631575274 |5023.065393820575|
|min    |1000001           |P00000142 |F     |0-17  |0                |A            |0                         |0                  |1                 |10                |10                |10000            |
|max    |1006040           |P0099942  |M     |55+   |9                |C            |4+                        |1                  |9                 |9                 |9                 |9999             |
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

In [ ]:
## Check what happens when we specify the name of a categorical / String columns in describe operation.
## describe operation is working for String type column but the output for mean, stddev are null and 
## min & max values are calculated based on ASCII value of categories.

### 9. a. Adding Columns

In [ ]:
## More Formal way
from pyspark.sql.functions import lit
trainDF.withColumn("Year", lit("2019")).show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|Year|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----+
|1000001| P00051842|     F|0-17|        10|            A|                         2|             0|                 4|                 8|              null|    2849|2019|
|1000001| P00059442|     F|0-17|        10|            A|                         2|             0|                 6|                 8|                16|   16622|2019|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----+
only showing top 2 rows

In [ ]:
tempDF = trainDF.withColumn("SameCategoryCode", 
trainDF["Product_Category_1"] == trainDF["Product_Category_2"])
tempDF.show(4)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|SameCategoryCode|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|            null|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|           false|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|            null|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|           false|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
only showing top 4 rows

### 9.b.Renaming Columns

In [ ]:
tempDF.withColumnRenamed("SameCategoryCode", "SimilarCategory").show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+---------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|SimilarCategory|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+---------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|           null|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|          false|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+---------------+
only showing top 2 rows

In [ ]:
tempDF.show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|SameCategoryCode|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|            null|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|           false|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+----------------+
only showing top 2 rows

### 9.c.Removing Columns

In [ ]:
tempDF.drop("SameCategoryCode").show(2)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 2 rows

### 10. Changing a Column’s Type (cast)

In [ ]:
trainDF.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

In [ ]:
trainDF = trainDF.withColumn("Purchase",trainDF.Purchase.cast(IntegerType()))

### 11. Splitting the data into Train and Test

In [ ]:
trainDF,testDF = trainDF.randomSplit([0.7, 0.3], seed=1234)
print(trainDF.count())
print(testDF.count())

385465
164603

### 12. Working with Nulls in Data

In [ ]:
from pyspark.sql.functions import isnan, when, count, col
trainDF.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in trainDF.columns]).show()

+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|      0|         0|     0|  0|         0|            0|                         0|             0|                 0|            121619|            268621|       0|
+-------+----------+------+---+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+

#### To drop the all rows with null value?
##### Use **dropna()** operation. 
  To drop row from the DataFrame it consider three options.
* **how** – ‘any’ or ‘all’. If ‘any’, drop a row if it contains any nulls. If ‘all’, drop a row only if all its values are null.

* **thresh** – int, default None If specified, drop rows that have less than thresh non-null values.This overwrites the how parameter.

* **subset** – optional list of column names to consider.

#### Drop null rows in train with default parameters and count the rows in output DataFrame. 
#### Default options are any, None, None for how, thresh, subset respectively.

In [ ]:
print(trainDF.dropna().count())
print(trainDF.na.drop().count())
print(trainDF.na.drop("any").count())

116844
116844
116844

#### To replace the null values in DataFrame with constant number
#### Use **fillna()** operation. 

 The fillna will take two parameters to fill the null values.
* **value**:
    - It will take a dictionary to specify which column will replace with which value.A value (int , float, string) for all columns.
* **subset**: Specify some selected columns.

In [ ]:
##Fill ‘-1’ inplace of null values in train DataFrame.
trainDF.fillna(-1).show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00051842|     F|0-17|        10|            A|                         2|             0|                 4|                 8|              null|    2849|
|1000001| P00059442|     F|0-17|        10|            A|                         2|             0|                 6|                 8|                16|   16622|
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000001| P00085942|     F|0-17|        10|            A|                         2|             0|                 2|                 4|                 8|   12842|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [ ]:
## Filling with different values for different columns
fill_cols_vals = {
"Gender": 'M',
"Purchase" : 999999
}
trainDF.na.fill(fill_cols_vals).count()

385465

### 13. Distinct Values

In [ ]:
## To find the number of distinct product in train and test datasets
## To calculate the number of distinct products in train and test datasets apply distinct operation.
print("Distinct values in Product_ID's in train dataset are {}".format(trainDF.select('Product_ID').distinct().count()))
print("Distinct values in Product_ID's in test dataset are {}".format(testDF.select('Product_ID').distinct().count()))

Distinct values in Product_ID's in train dataset are 3573
Distinct values in Product_ID's in test dataset are 3421

#### Differences in two columns

In [ ]:
## From the above we can see the train file has more categories than test file. 
## Let us check what are the categories for Product_ID, which are in test file but not in train file by 
## applying subtract operation.
## We can do the same for all categorical features.
diff_cat_in_test_train=testDF.select('Product_ID').subtract(trainDF.select('Product_ID'))
print("Count of Product_ID's there in test dataset but not train dataset are {}".format(diff_cat_in_test_train.count()))


print("Count of Product_ID's there in train dataset but not test dataset are {}".format(diff_cat_in_train_test.count()))

Count of Product_ID's there in test dataset but not train dataset are 58

NameError: ignored

### 14. Using Spark SQL 
With Spark SQL, you can register any DataFrame as a table or view (a temporary table) and query it using pure SQL. 
<br>There is no performance difference between writing SQL queries or writing DataFrame code, <br>they both “compile” to the same underlying plan that we specify in DataFrame code.

In [ ]:
## Create view/table
trainDF.createOrReplaceTempView("trainDFTable")

In [ ]:
## Verify Table
spark.sql("SELECT * FROM trainDFTable LIMIT 2").show()

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00051842|     F|0-17|        10|            A|                         2|             0|                 4|                 8|              null|    2849|
|1000001| P00059442|     F|0-17|        10|            A|                         2|             0|                 6|                 8|                16|   16622|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+

#### Column References

#### Select & SelectExpr

In [ ]:
## Multiple ways of referring a column in a dataframe
from pyspark.sql.functions import expr, col, column

trainDF.select(expr("User_ID AS userID") , col("User_ID"), 
               column("User_ID"), "User_ID").show(2)

+-------+-------+-------+-------+
| userID|User_ID|User_ID|User_ID|
+-------+-------+-------+-------+
|1000001|1000001|1000001|1000001|
|1000001|1000001|1000001|1000001|
+-------+-------+-------+-------+
only showing top 2 rows

#### Pandas dot notation doesn't work here

In [ ]:
result = trainDF.User_ID

This will save/assign a column name to the newly created variable

In [ ]:
# select content from the above column
trainDF.select(result).show(2)

+-------+
|User_ID|
+-------+
|1000001|
|1000001|
+-------+
only showing top 2 rows

In [ ]:
spark.sql("SELECT User_ID AS userID FROM trainDFTable").show(2)

+-------+
| userID|
+-------+
|1000001|
|1000001|
+-------+
only showing top 2 rows

In [ ]:
trainDF.selectExpr("User_ID AS userID", "Product_ID AS productID").show(2)

+-------+---------+
| userID|productID|
+-------+---------+
|1000001|P00051842|
|1000001|P00059442|
+-------+---------+
only showing top 2 rows

#### Converting to Spark Types (Literals)
Sometimes we need to pass explicit values into Spark that aren’t a new column but are just a value in all the rows. This might be a constant value or something we’ll need to compare to later on. The way we do this is through literals. 
This is basically a translation from a given programming language’s literal value to one that Spark understands. 
Literals are expressions and can be used in the same way.

In [ ]:
from pyspark.sql.functions import lit
trainDF.select("*", lit(1).alias('One')).show(2)

In [ ]:
## In SQL, literals are just the specific value.
trainDF.createOrReplaceTempView('trainDFTable')
spark.sql("SELECT *, 2019 as Year FROM trainDFTable LIMIT 2").show()

#### Pair wise Frequencies - Crosstab

In [ ]:
## To calculate pair wise frequency of categorical columns
## Use crosstab operation on DataFrame to calculate the pair wise frequency of columns. 
## Apply crosstab operation on ‘Age’ and ‘Gender’ columns of train DataFrame.
trainDF.crosstab('Gender', 'Age').show()

+----------+----+-----+------+-----+-----+-----+-----+
|Gender_Age|0-17|18-25| 26-35|36-45|46-50|51-55|  55+|
+----------+----+-----+------+-----+-----+-----+-----+
|         M|7027|52744|118248|57967|22722|20053|11541|
|         F|3548|17192| 35670|19017| 9191| 6962| 3583|
+----------+----+-----+------+-----+-----+-----+-----+

In [ ]:
spark.sql("""select Age,
    sum(case when Gender = 'F' then 1 else 0 end) F,
    sum(case when Gender = 'M' then 1 else 0 end) M
from trainDFTable
group by Age""").show()

# spark.sql("""select Age,
#     count(*) total,
#     sum(case when Gender = 'F' then 1 else 0 end) F,
#     sum(case when Gender = 'M' then 1 else 0 end) M
# from trainDFTable
# group by Age""").show()

+-----+-----+------+
|  Age|    F|     M|
+-----+-----+------+
|18-25|17192| 52744|
|26-35|35670|118248|
| 0-17| 3548|  7027|
|46-50| 9191| 22722|
|51-55| 6962| 20053|
|36-45|19017| 57967|
|  55+| 3583| 11541|
+-----+-----+------+

#### Removing Duplicates

In [ ]:
##To get the DataFrame without any duplicate rows of given a DataFrame
##Use dropDuplicates operation to drop the duplicate rows of a DataFrame. 
## In this command, performing this on two columns Age and Gender of train dataset and 
## Get the all unique rows for these two columns.
trainDF.select('Age','Gender').dropDuplicates().show()

+-----+------+
|  Age|Gender|
+-----+------+
|51-55|     F|
|18-25|     M|
| 0-17|     F|
|46-50|     M|
|18-25|     F|
|  55+|     M|
|  55+|     F|
|36-45|     M|
|26-35|     F|
| 0-17|     M|
|36-45|     F|
|51-55|     M|
|26-35|     M|
|46-50|     F|
+-----+------+

#### Filtering the rows

In [ ]:
## To filter the rows in train dataset which has Purchases more than 15000
## apply the filter operation on Purchase column in train DataFrame 
## to filter out the rows with values more than 15000. 
print("Count of rows where Purchase Amount more than 15000 are {}".format(trainDF.filter(trainDF.Purchase > 15000).count()))
print("Count of rows where Purchase Amount more than 15000 are {}".format(trainDF.filter(col("Purchase") > 15000).count()))
print("Count of rows where Purchase Amount more than 15000 are {}".format(trainDF.filter(column("Purchase") > 15000).count()))
print("Count of rows where Purchase Amount more than 15000 are {}".format(trainDF.filter(expr("Purchase") > 15000).count()))
print("Count of rows where Purchase Amount more than 15000 are {}".format(trainDF.filter(trainDF["Purchase"] > 15000).count()))

Count of rows where Purchase Amount more than 15000 are 77137
Count of rows where Purchase Amount more than 15000 are 77137
Count of rows where Purchase Amount more than 15000 are 77137
Count of rows where Purchase Amount more than 15000 are 77137
Count of rows where Purchase Amount more than 15000 are 77137

In [ ]:
spark.sql("""
SELECT 
COUNT(*) AS Count
FROM trainDFTable
WHERE Purchase > 15000""").show()

+-----+
|Count|
+-----+
|77137|
+-----+

In [ ]:
trainDF.where("Purchase > 15000").where("Gender = 'F'").count()

15034

In [ ]:
trainDF.filter("Purchase > 15000").where("Gender = 'F'").count()

15034

In [ ]:
trainDF.where((col("Purchase") > 15000) & (col("Gender") == 'F')).count()

15034

In [ ]:
trainDF.filter((col("Purchase") > 15000) & (col("Gender") == 'F')).count()

15034

In [ ]:
spark.sql("SELECT * FROM trainDFTable WHERE Purchase > 15000 AND Gender = 'F'").count()

15034

### 15. Aggregations

#### Count Distinct

In [ ]:
from pyspark.sql.functions import countDistinct
trainDF.select(countDistinct("Age")).show()

+-------------------+
|count(DISTINCT Age)|
+-------------------+
|                  7|
+-------------------+

#### Approximate Count Distinct
* **Parameters:**
    * col - Name of the column
    * rsd – maximum estimation error allowed (default = 0.05).

In [ ]:
from pyspark.sql.functions import approx_count_distinct
trainDF.select(approx_count_distinct(col="Age", rsd=0.1)).show()

+--------------------------+
|approx_count_distinct(Age)|
+--------------------------+
|                         7|
+--------------------------+

#### First and Last

In [ ]:
from pyspark.sql.functions import first, last
trainDF.select(first("Product_ID", ignorenulls = True), last("Product_ID")).show()

+-----------------------+-----------------------+
|first(Product_ID, true)|last(Product_ID, false)|
+-----------------------+-----------------------+
|              P00051842|              P00349442|
+-----------------------+-----------------------+

#### Min and Max

In [ ]:
from pyspark.sql.functions import min, max
trainDF.select(min("Purchase"), max("Purchase")).show()

+-------------+-------------+
|min(Purchase)|max(Purchase)|
+-------------+-------------+
|           12|        23961|
+-------------+-------------+

#### Sum

In [ ]:
from pyspark.sql.functions import sum

#### sumDistinct

In [ ]:
from pyspark.sql.functions import sumDistinct

#### Avg

In [ ]:
from pyspark.sql.functions import sum, count, avg, expr

trainDF.select(
    count("Purchase").alias("total_transactions"),
    sum("Purchase").alias("total_purchases"),
    avg("Purchase").alias("avg_purchases"),
    expr("mean(Purchase)").alias("mean_purchases"))\
  .selectExpr(
    "total_purchases/total_transactions",
    "avg_purchases",
    "mean_purchases").show()

+--------------------------------------+-----------------+-----------------+
|(total_purchases / total_transactions)|    avg_purchases|   mean_purchases|
+--------------------------------------+-----------------+-----------------+
|                     9252.862885086843|9252.862885086843|9252.862885086843|
+--------------------------------------+-----------------+-----------------+

#### Variance and Standard Deviation

In [ ]:
from pyspark.sql.functions import var_pop, stddev_pop
from pyspark.sql.functions import var_samp, stddev_samp

trainDF.select(var_pop("Purchase"), var_samp("Purchase"),
  stddev_pop("Purchase"), stddev_samp("Purchase")).show()

+--------------------+--------------------+--------------------+---------------------+
|   var_pop(Purchase)|  var_samp(Purchase)|stddev_pop(Purchase)|stddev_samp(Purchase)|
+--------------------+--------------------+--------------------+---------------------+
|2.5196570178942546E7|2.5196635545799576E7|   5019.618529225358|    5019.625040359048|
+--------------------+--------------------+--------------------+---------------------+

In [ ]:
spark.sql("""SELECT var_pop(Purchase), var_samp(Purchase),
             stddev_pop(Purchase), stddev_samp(Purchase)
             FROM trainDFTable""").show()

+---------------------------------+----------------------------------+------------------------------------+-------------------------------------+
|var_pop(CAST(Purchase AS DOUBLE))|var_samp(CAST(Purchase AS DOUBLE))|stddev_pop(CAST(Purchase AS DOUBLE))|stddev_samp(CAST(Purchase AS DOUBLE))|
+---------------------------------+----------------------------------+------------------------------------+-------------------------------------+
|             2.5196570178942546E7|              2.5196635545799576E7|                   5019.618529225358|                    5019.625040359048|
+---------------------------------+----------------------------------+------------------------------------+-------------------------------------+

#### skewness and kurtosis

In [ ]:
from pyspark.sql.functions import skewness, kurtosis

In [ ]:
spark.sql("""SELECT skewness(Purchase), kurtosis(Purchase)
             FROM trainDFTable""").show()

+----------------------------------+----------------------------------+
|skewness(CAST(Purchase AS DOUBLE))|kurtosis(CAST(Purchase AS DOUBLE))|
+----------------------------------+----------------------------------+
|                0.6011891058033598|               -0.3332972102207403|
+----------------------------------+----------------------------------+

#### Covariance and Correlation

In [ ]:
from pyspark.sql.functions import corr, covar_pop, covar_samp
trainDF.select(corr("Product_Category_1", "Purchase"), covar_samp("Product_Category_1", "Purchase"),
    covar_pop("Product_Category_1", "Purchase")).show()

+----------------------------------+----------------------------------------+---------------------------------------+
|corr(Product_Category_1, Purchase)|covar_samp(Product_Category_1, Purchase)|covar_pop(Product_Category_1, Purchase)|
+----------------------------------+----------------------------------------+---------------------------------------+
|               -0.3441352558130045|                      -6799.583767801264|                      -6799.56612785012|
+----------------------------------+----------------------------------------+---------------------------------------+

In [ ]:
spark.sql("""SELECT corr(Product_Category_1, Purchase), covar_samp(Product_Category_1, Purchase),
             covar_pop(Product_Category_1, Purchase)
             FROM trainDFTable""").show()

+------------------------------------------------------------------+------------------------------------------------------------------------+-----------------------------------------------------------------------+
|corr(CAST(Product_Category_1 AS DOUBLE), CAST(Purchase AS DOUBLE))|covar_samp(CAST(Product_Category_1 AS DOUBLE), CAST(Purchase AS DOUBLE))|covar_pop(CAST(Product_Category_1 AS DOUBLE), CAST(Purchase AS DOUBLE))|
+------------------------------------------------------------------+------------------------------------------------------------------------+-----------------------------------------------------------------------+
|                                               -0.3441352558130045|                                                      -6799.583767801264|                                                      -6799.56612785012|
+------------------------------------------------------------------+------------------------------------------------------------------------+-----------------------------------------------------------------------+

#### Complex Aggregations

In [ ]:
from pyspark.sql.functions import collect_set, collect_list
trainDF.agg(collect_set("Age"), collect_list("Age")).show()

+--------------------+--------------------+
|    collect_set(Age)|   collect_list(Age)|
+--------------------+--------------------+
|[55+, 51-55, 0-17...|[0-17, 0-17, 0-17...|
+--------------------+--------------------+

In [ ]:
spark.sql("""SELECT collect_set(Age), collect_list(Age) FROM trainDFTable""").show()

+--------------------+--------------------+
|    collect_set(Age)|   collect_list(Age)|
+--------------------+--------------------+
|[55+, 51-55, 0-17...|[0-17, 0-17, 0-17...|
+--------------------+--------------------+

#### Grouping

In [ ]:
trainDF.groupBy("Age", "Gender").count().show()

+-----+------+------+
|  Age|Gender| count|
+-----+------+------+
|51-55|     F|  6962|
|18-25|     M| 52744|
| 0-17|     F|  3548|
|46-50|     M| 22722|
|18-25|     F| 17192|
|  55+|     M| 11541|
|  55+|     F|  3583|
|36-45|     M| 57967|
|26-35|     F| 35670|
| 0-17|     M|  7027|
|36-45|     F| 19017|
|51-55|     M| 20053|
|26-35|     M|118248|
|46-50|     F|  9191|
+-----+------+------+

In [ ]:
trainDF.select("Age","Gender","Purchase").groupBy("Age","Gender").sum("Purchase").alias("Age Group Purchase").show()

+-----+------+-------------+
|  Age|Gender|sum(Purchase)|
+-----+------+-------------+
|51-55|     F|     62724479|
|18-25|     M|    496745484|
| 0-17|     F|     29605153|
|46-50|     M|    213164876|
|18-25|     F|    143115866|
|  55+|     M|    108894726|
|  55+|     F|     32342305|
|36-45|     M|    548151866|
|26-35|     F|    311812355|
| 0-17|     M|     64693751|
|36-45|     F|    170230590|
|51-55|     M|    194432303|
|26-35|     M|   1109729324|
|46-50|     F|     81011714|
+-----+------+-------------+

In [ ]:
trainDF.select("Age","Gender","Purchase").groupBy("Age","Gender").agg(sum("Purchase").alias("Age Group Purchase"), avg("Purchase").alias("Mean Age Group Purchase")).show()

+-----+------+------------------+-----------------------+
|  Age|Gender|Age Group Purchase|Mean Age Group Purchase|
+-----+------+------------------+-----------------------+
|51-55|     F|          62724479|      9009.548836541224|
|18-25|     M|         496745484|      9418.047247080236|
| 0-17|     F|          29605153|      8344.180665163472|
|46-50|     M|         213164876|      9381.431036000353|
|18-25|     F|         143115866|      8324.561772917636|
|  55+|     M|         108894726|      9435.467117234208|
|  55+|     F|          32342305|      9026.599218531956|
|36-45|     M|         548151866|      9456.274535511584|
|26-35|     F|         311812355|      8741.585506027473|
| 0-17|     M|          64693751|      9206.453820976234|
|36-45|     F|         170230590|      8951.495504022716|
|51-55|     M|         194432303|      9695.920959457439|
|26-35|     M|        1109729324|      9384.761890264528|
|46-50|     F|          81011714|       8814.24371667936|
+-----+------+------------------+-----------------------+

#### Grouping with Expressions

In [ ]:
trainDF.groupBy("Age").agg(
  count("Purchase").alias("quan"),
  expr("count(Purchase)")).show()

+-----+------+---------------+
|  Age|  quan|count(Purchase)|
+-----+------+---------------+
|18-25| 69936|          69936|
|26-35|153918|         153918|
| 0-17| 10575|          10575|
|46-50| 31913|          31913|
|51-55| 27015|          27015|
|36-45| 76984|          76984|
|  55+| 15124|          15124|
+-----+------+---------------+

In [ ]:
trainDF.groupBy("Age").agg(expr("avg(Purchase)"),expr("stddev_pop(Purchase)")).show()

+-----+-----------------+--------------------+
|  Age|    avg(Purchase)|stddev_pop(Purchase)|
+-----+-----------------+--------------------+
|18-25|9149.241449325098|    5030.73260424529|
|26-35|9235.707837939683|   5001.417464297852|
| 0-17|8917.154042553191|   5108.509402410989|
|46-50| 9218.08009275217|   4973.931293087956|
|51-55|9519.036905422914|   5074.569101301074|
|36-45|9331.581315598047|   5025.818032593724|
|  55+|9338.602948955302|   5026.226769074877|
+-----+-----------------+--------------------+

In [ ]:
## To find the mean of each age group in train dataset - Average purchases in each age group
trainDF.groupby('Age').agg({'Purchase': 'mean'}).show()

+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|18-25|9149.241449325098|
|26-35|9235.707837939683|
| 0-17|8917.154042553191|
|46-50| 9218.08009275217|
|51-55|9519.036905422914|
|36-45|9331.581315598047|
|  55+|9338.602948955302|
+-----+-----------------+

In [ ]:
trainDF.groupby('Age').agg({'Purchase': 'sum'}).show()

+-----+-------------+
|  Age|sum(Purchase)|
+-----+-------------+
|18-25|    639861350|
|26-35|   1421541679|
| 0-17|     94298904|
|46-50|    294176590|
|51-55|    257156782|
|36-45|    718382456|
|  55+|    141237031|
+-----+-------------+

In [ ]:
## Apply sum, min, max, count with groupby to get different summary insight for each group. 
exprs = {x: "sum" for x in trainDF.columns}
trainDF.groupBy("Age").agg(exprs).show(5)

+-----+------------------+-----------------------+-------------------+-------------+----------------+---------------+-------------------------------+-----------------------+--------+-----------+-----------------------+---------------+
|  Age|sum(City_Category)|sum(Product_Category_3)|sum(Marital_Status)|sum(Purchase)|    sum(User_ID)|sum(Occupation)|sum(Stay_In_Current_City_Years)|sum(Product_Category_1)|sum(Age)|sum(Gender)|sum(Product_Category_2)|sum(Product_ID)|
+-----+------------------+-----------------------+-------------------+-------------+----------------+---------------+-------------------------------+-----------------------+--------+-----------+-----------------------+---------------+
|18-25|              null|               271580.0|            14766.0|    639861350| 7.0132128001E10|       471577.0|                        81943.0|               357761.0|    null|       null|               459321.0|           null|
|26-35|              null|               592171.0|            60567.0|   1421541679|1.54397060368E11|      1215449.0|                       193282.0|               818600.0|    null|       null|              1035321.0|           null|
| 0-17|              null|                40615.0|                0.0|     94298904| 1.0603748031E10|        92620.0|                        14302.0|                53926.0|    null|       null|                67544.0|           null|
|46-50|              null|               121904.0|            23037.0|    294176590| 3.2014981722E10|       271471.0|                        36142.0|               183249.0|    null|       null|               220038.0|           null|
|51-55|              null|               103419.0|            19378.0|    257156782| 2.7095772638E10|       238234.0|                        31051.0|               155666.0|    null|       null|               188292.0|           null|
+-----+------------------+-----------------------+-------------------+-------------+----------------+---------------+-------------------------------+-----------------------+--------+-----------+-----------------------+---------------+
only showing top 5 rows

### 16. User-Defined Functions

##### a. simple UDF function for finding the cube of a number

In [ ]:
udfExampleDF = spark.range(5).toDF("num")

def power3(double_value):
    return double_value ** 3

power3(2.0)

8.0

Once the function is created, we need to register them with Spark so that we can used
them on all of our worker machines. Spark will serialize the function on the driver, and transfer it over the network to all executor processes. This happens regardless of language.

<br>Once we go to use the function, there are essentially two different things that occur. If the function is written in Scala or Java then we can use that function within the JVM. This means there will be little performance penalty aside from the fact that we can’t take advantage of code generation capabilities that Spark has for built-in functions.

<br>If the function is written in Python, something quite different happens. 
Spark will start up a python process on the worker, serialize all of the data to a format that python can understand (remember it was in the JVM before), execute the function row by row on that data in the python process, before finally returning the results of the row operations to the JVM and Spark.

In [ ]:
from pyspark.sql.functions import udf
power3udf = udf(power3)

In [ ]:
from pyspark.sql.functions import col
udfExampleDF.select(power3udf(col("num"))).show()

+-----------+
|power3(num)|
+-----------+
|          0|
|          1|
|          8|
|         27|
|         64|
+-----------+

##### b. Binning of Purchase column

In [ ]:
def binning_purchase(purchase):
    """
    args:
        Accepts Purchase amount and returns the correspondin bin
    return:
        bin number (Bin01,02,....) type=String
    0       - 500       -> Bin01
    501     - 1000      -> Bin02
    1001    - 2000      -> Bin03
    2001    - 4000      -> Bin04
    4001    - 6000      -> Bin05
    6001    - 8000      -> Bin06
    8001    - 10000     -> Bin07
    10001   - 20000     -> Bin08
    20001   - 30000     -> Bin09
    """
    if float(purchase) > 0:
        purchase = float(purchase)
    else:
        purchase = float(0)
    
    if purchase <= 500: return str("Bin01")
    elif (purchase > 500 and purchase <= 1000): return str("Bin02")
    elif (purchase > 1000 and purchase <= 2000): return str("Bin03")
    elif (purchase > 2000 and purchase <= 4000): return str("Bin04")
    elif (purchase > 4000 and purchase <= 6000): return str("Bin05")
    elif (purchase > 6000 and purchase <= 8000): return str("Bin06")
    elif (purchase > 8000 and purchase <= 10000): return str("Bin07")
    elif (purchase > 10000 and purchase <= 20000): return str("Bin08")
    else:
        return str("Bin09")

In [ ]:
bin_purchase_udf = udf(binning_purchase)

In [ ]:
trainDF.withColumn('Binned_Purchase',bin_purchase_udf('Purchase')).select("Purchase","Binned_Purchase").show(4)

+--------+---------------+
|Purchase|Binned_Purchase|
+--------+---------------+
|    2849|          Bin04|
|   16622|          Bin08|
|    8370|          Bin07|
|    1057|          Bin03|
+--------+---------------+
only showing top 4 rows

## 17. Joins

#### Dataset
* The data is obtained from Surfeous,a recommender system prototype that uses social annotations (e.g., tags) and contextual models to find restaurants that best suit the user preferences.It is a publicly available dataset in UCI.It has threee tables restaurants,consumers and user rating.The tables we choose are from them which are fitered for our scenario


#### Data dictionary :
* __RestGenInfo.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * latitude - Location detail 
    * longitude - Location detail
    * name - Name of the restaurant
    * state - Name of the state 
    * alcohol - Constraints on having alcoholic beverages
    * smoking_area - Information for smokers
    * price - Pricing type of restaurant
    * franchise - Does the restaurant have frachise
    * area - open or close type of restaurant

* __Cuisine.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * Rcuisine - Different styles of food

    
* __PaymentMode.csv__ contains :
    * placeID - Uniqued Id of restaurants
    * Rpayment - Different modes of payment

    
* __parking.csv__ contains :
     * placeID - Uniqued Id of restaurants
     * parking_lot - Different types of parking available

#### Read the data as a dataframe

In [ ]:
restoGen = spark.read.csv('drive/My Drive/google_cloud/data/RestaurantsData/RestGenInfo.csv', header=True, inferSchema=True,nullValue='?')
cuisine = spark.read.csv('drive/My Drive/google_cloud/data/RestaurantsData/Cuisine.csv', header=True, inferSchema=True)
paymentMode = spark.read.csv('drive/My Drive/google_cloud/data/RestaurantsData/PaymentMode.csv', header=True, inferSchema=True)
parking = spark.read.csv('drive/My Drive/google_cloud/data/RestaurantsData/parking.csv', header=True, inferSchema=True)

In [ ]:
restoGen.show()

+-------+----------+------------+--------------------+----------+-----------------+-------------+------+---------+------+
|placeID|  latitude|   longitude|                name|     state|          alcohol| smoking_area| price|franchise|  area|
+-------+----------+------------+--------------------+----------+-----------------+-------------+------+---------+------+
| 132560|23.7523041| -99.1669133|  puesto de gorditas|Tamaulipas|No_Alcohol_Served|    permitted|   low|        f|  open|
| 132561| 23.726819| -99.1265059|          cafe ambar|      null|No_Alcohol_Served|         none|   low|        f|closed|
| 132564|23.7309245| -99.1451848|             churchs|      null|No_Alcohol_Served|         none|   low|        f|closed|
| 132572|22.1416471|-100.9927118|        Cafe Chaires|       SLP|No_Alcohol_Served|not permitted|   low|        f|closed|
| 132583|18.9222904|  -99.234332|    McDonalds Centro|   Morelos|No_Alcohol_Served|not permitted|   low|        t|closed|
| 132584|23.7523648| -99.1652879|  Gorditas Dona Tota|      null|No_Alcohol_Served|not permitted|medium|        t|closed|
| 132594|23.7521677|  -99.165709|tacos de barbacoa...|      null|No_Alcohol_Served|not permitted|   low|        f|  open|
| 132608|23.7588052| -99.1651297|Hamburguesas La p...|Tamaulipas|No_Alcohol_Served|    permitted|   low|        t|  open|
| 132609|23.7602683| -99.1658646|Pollo_Frito_Bueno...|Tamaulipas|No_Alcohol_Served|not permitted|   low|        t|closed|
| 132613|23.7529035|  -99.165076|       carnitas_mata|Tamaulipas|No_Alcohol_Served|    permitted|medium|        t|closed|
| 132626|23.7375834| -99.1351318|la perica hamburg...|Tamaulipas|No_Alcohol_Served|         none|medium|        t|closed|
| 132630|23.7529305| -99.1644725|          palomo tec|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132654|23.7355234| -99.1295877|Carnitas Mata  Ca...|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132660|23.7529428| -99.1646791|carnitas mata cal...|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132663|23.7525107| -99.1669536|           tacos abi|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132665|23.7367977| -99.1342413|  TACOS CORRECAMINOS|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132667|23.7526973| -99.1633594|little pizza Emil...|Tamaulipas|No_Alcohol_Served|         none|   low|        t|closed|
| 132668| 23.738212| -99.1519547|      TACOS EL GUERO|Tamaulipas|No_Alcohol_Served|         none|   low|        f|closed|
| 132706|23.7292162| -99.1323571|  Gorditas Dona Tota|Tamaulipas|No_Alcohol_Served|not permitted|medium|        t|closed|
| 132715|23.7324226| -99.1586602|tacos de la estacion|      null|No_Alcohol_Served|         none|   low|        f|  open|
+-------+----------+------------+--------------------+----------+-----------------+-------------+------+---------+------+
only showing top 20 rows

In [ ]:
restoGen.count()

130

In [ ]:
restoGen.select('PlaceID').distinct().count()

130

#### Check for any null values in the data

In [ ]:
restoGen.select([count(when(isnan(c)| col(c).isNull(), 1)).alias(c) for c in restoGen.columns]).show()
cuisine.select([count(when(isnan(c)| col(c).isNull(), 1)).alias(c) for c in cuisine.columns]).show()
paymentMode.select([count(when(isnan(c)| col(c).isNull(), 1)).alias(c) for c in paymentMode.columns]).show()
parking.select([count(when(isnan(c)| col(c).isNull(), 1)).alias(c) for c in parking.columns]).show()

+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|placeID|latitude|longitude|name|state|alcohol|smoking_area|price|franchise|area|
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+
|      0|       0|        0|   0|   18|      0|           0|    0|        0|   0|
+-------+--------+---------+----+-----+-------+------------+-----+---------+----+

+-------+--------+
|placeID|Rcuisine|
+-------+--------+
|      0|       0|
+-------+--------+

+-------+--------+
|placeID|Rpayment|
+-------+--------+
|      0|       0|
+-------+--------+

+-------+-----------+
|placeID|parking_lot|
+-------+-----------+
|      0|          0|
+-------+-----------+

In [ ]:
restoGen = restoGen.dropna()

In [ ]:
restoGen.select('placeID').distinct().count()

112

In [ ]:
cuisine.select('placeID').distinct().count()

769

In [ ]:
paymentMode.select('placeID').distinct().count()

616

In [ ]:
parking.select('placeID').distinct().count()

675

In [ ]:
cuisine.select('Rcuisine').distinct().count()

59

In [ ]:
restoGen.createOrReplaceTempView('restoGenTable')
cuisine.createOrReplaceTempView('cuisineTable')
paymentMode.createOrReplaceTempView('paymentModeTable')
parking.createOrReplaceTempView('parkingTable')

 ## The  count of restaurants(as numberOfHotels) for each payment modes and area. Also order them based on numberOfHotels in descending order.

In [ ]:
spark.sql('''select  count(*) as numberOfHotels, Rpayment, area from
restoGenTable a join paymentModeTable b 
where a.placeID = b.placeID group by Rpayment, area 
order by numberOfHotels desc''').show()

+--------------+-------------------+------+
|numberOfHotels|           Rpayment|  area|
+--------------+-------------------+------+
|            92|               cash|closed|
|            44|               VISA|closed|
|            40|MasterCard-Eurocard|closed|
|            24|   American_Express|closed|
|            11|               cash|  open|
|            11|   bank_debit_cards|closed|
|             3|               VISA|  open|
|             2|MasterCard-Eurocard|  open|
|             1|   bank_debit_cards|  open|
|             1|   American_Express|  open|
|             1|      Carte_Blanche|closed|
+--------------+-------------------+------+

#### Inner Join

In [ ]:
inner_join = restoGen.join(paymentMode, restoGen.placeID == paymentMode.placeID,how='inner') 
inner_join.show(4)

+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------+-------------------+
|placeID|  latitude|   longitude|                name|  state|          alcohol| smoking_area| price|franchise|  area|placeID|           Rpayment|
+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------+-------------------+
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open| 135106|               cash|
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open| 135106|               VISA|
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open| 135106|MasterCard-Eurocard|
| 135088|18.8760113| -99.2198896|   Cafeteria cenidet|Morelos|No_Alcohol_Served|not permitted|   low|        f|closed| 135088|               cash|
+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------+-------------------+
only showing top 4 rows

In [ ]:
count_of_hotels = inner_join.select('Rpayment','area').groupby('area','Rpayment').count()

count_of_hotels = count_of_hotels.withColumnRenamed('count','NumberofHotels')
count_of_hotels.show()

+------+-------------------+--------------+
|  area|           Rpayment|NumberofHotels|
+------+-------------------+--------------+
|  open|   American_Express|             1|
|  open|   bank_debit_cards|             1|
|closed|   bank_debit_cards|            11|
|  open|               cash|            11|
|closed|   American_Express|            24|
|closed|               VISA|            44|
|closed|      Carte_Blanche|             1|
|  open|               VISA|             3|
|closed|               cash|            92|
|closed|MasterCard-Eurocard|            40|
|  open|MasterCard-Eurocard|             2|
+------+-------------------+--------------+

In [ ]:
count_of_hotels.orderBy(count_of_hotels.NumberofHotels.desc()).show()

+------+-------------------+--------------+
|  area|           Rpayment|NumberofHotels|
+------+-------------------+--------------+
|closed|               cash|            92|
|closed|               VISA|            44|
|closed|MasterCard-Eurocard|            40|
|closed|   American_Express|            24|
|closed|   bank_debit_cards|            11|
|  open|               cash|            11|
|  open|               VISA|             3|
|  open|MasterCard-Eurocard|             2|
|  open|   American_Express|             1|
|  open|   bank_debit_cards|             1|
|closed|      Carte_Blanche|             1|
+------+-------------------+--------------+

##  Count the number of Cuisines that are used by the Restaurants

In [ ]:
print("The number of Disintct Cuisines Available from all the restaurants = ",cuisine.select('Rcuisine').distinct().count())
left_join = restoGen.join(cuisine, on=restoGen.placeID==cuisine.placeID, how = 'left').drop(cuisine.placeID)
print("The number of cusines used in the selected Restaurants: ")
left_join.select(countDistinct('Rcuisine').alias(" Distinct Cusines  used in Restaurants")).show()
print("The Cusinies available are ")
left_join.select('Rcuisine').distinct().alias("Cusines  used in Restaurants").show(50)

('The number of Disintct Cuisines Available from all the restaurants = ', 59)
The number of cusines used in the selected Restaurants:
+--------------------------------------+
| Distinct Cusines  used in Restaurants|
+--------------------------------------+
|                                    22|
+--------------------------------------+

The Cusinies available are
+----------------+
|        Rcuisine|
+----------------+
|   International|
|       Cafeteria|
|         Mexican|
|          Bakery|
|             Bar|
|        Armenian|
|         Chinese|
|            null|
|       Fast_Food|
|        Japanese|
|          Family|
|      Vietnamese|
|         Burgers|
|Breakfast-Brunch|
|         Italian|
|        Pizzeria|
|            Game|
|         Seafood|
|        Regional|
| Bar_Pub_Brewery|
|Cafe-Coffee_Shop|
|        American|
|    Contemporary|
+----------------+

## Count the distinct restaurant names which has valet parking

In [ ]:
spark.sql('''select distinct name ,parking_lot from restoGenTable a join parkingTable b where a.placeID = b.placeID and 
          b.parking_lot = 'valet parking' ''').show()

+--------------------+-------------+
|                name|  parking_lot|
+--------------------+-------------+
|La Posada del Virrey|valet parking|
+--------------------+-------------+

#### Right Join

In [ ]:
right_join = restoGen.join(other=parking,on=parking.placeID==restoGen.placeID,how='right')
names_of_restaurants = right_join.select('name','parking_lot').filter(parking.parking_lot=='valet parking')
names_of_restaurants.distinct().filter(names_of_restaurants.name!='null').show()

+--------------------+-------------+
|                name|  parking_lot|
+--------------------+-------------+
|La Posada del Virrey|valet parking|
+--------------------+-------------+

## Identify the placeID where the paymentMode for parking  is not available

#### Full outer Join

In [ ]:
spark.sql("""SELECT parkingTable.placeID,parkingTable.parking_lot,paymentModeTable.Rpayment
FROM parkingTable
FULL OUTER JOIN paymentModeTable ON parkingTable.placeID=paymentModeTable.placeID WHERE paymentModeTable.Rpayment is NULL""").show(1000)

+-------+-----------+--------+
|placeID|parking_lot|Rpayment|
+-------+-----------+--------+
| 133018|       none|    null|
| 132478|       none|    null|
| 132478|        fee|    null|
| 132663|       none|    null|
| 135108|       none|    null|
| 134979|       none|    null|
| 133010|        yes|    null|
| 132479|     street|    null|
| 132831|       none|    null|
| 132292|     public|    null|
| 132292|     street|    null|
| 133012|       none|    null|
| 132661|       none|    null|
| 132484|        yes|    null|
| 132326|        yes|    null|
| 132326|     public|    null|
| 132881|       none|    null|
| 135019|       none|    null|
| 132999|       none|    null|
| 132568|       none|    null|
| 132643|       none|    null|
| 135026|       none|    null|
| 132876|       none|    null|
| 132882|       none|    null|
| 132570|       none|    null|
| 132816|       none|    null|
| 133041|       none|    null|
| 132639|       none|    null|
| 133039|       none|    null|
| 132656|       none|    null|
| 132839|       none|    null|
| 134986|        yes|    null|
| 132830|       none|    null|
| 133013|       none|    null|
| 132646|       none|    null|
| 132878|       none|    null|
| 133015|       none|    null|
| 133003|       none|    null|
| 132630|       none|    null|
| 132571|       none|    null|
| 132647|       none|    null|
| 133006|       none|    null|
| 132664|       none|    null|
| 132557|     public|    null|
| 132557|     street|    null|
| 132652|       none|    null|
| 132832|       none|    null|
| 133005|       none|    null|
| 132823|       none|    null|
| 132377|     street|    null|
| 132666|       none|    null|
| 132833|       none|    null|
| 132641|       none|    null|
| 132838|       none|    null|
| 132657|       none|    null|
| 132468|       none|    null|
| 132491|     public|    null|
| 132491|     street|    null|
| 132879|       none|    null|
| 132649|       none|    null|
| 133022|       none|    null|
| 132632|       none|    null|
| 132634|       none|    null|
| 132673|       none|    null|
| 133000|       none|    null|
| 133023|       none|    null|
| 132812|       none|    null|
| 133019|       none|    null|
| 132281|     public|    null|
| 132281|     street|    null|
| 132561|       none|    null|
| 132562|       none|    null|
| 132644|       none|    null|
| 132844|       none|    null|
| 132157|        yes|    null|
| 132487|        yes|    null|
| 133011|       none|    null|
| 133042|       none|    null|
| 132670|       none|    null|
| 132877|       none|    null|
| 132669|       none|    null|
| 132906|       none|    null|
| 133017|       none|    null|
| 132564|       none|    null|
| 132672|       none|    null|
| 133004|       none|    null|
| 132633|       none|    null|
| 134997|       none|    null|
| 132813|       none|    null|
| 132662|       none|    null|
| 132729|       none|    null|
| 132579|       none|    null|
| 133021|       none|    null|
| 135020|        yes|    null|
| 133025|       none|    null|
| 132654|       none|    null|
| 132998|       none|    null|
| 132883|       none|    null|
| 135111|     public|    null|
| 132822|       none|    null|
| 132874|       none|    null|
| 132566|       none|    null|
| 132569|       none|    null|
| 132997|     public|    null|
| 132659|       none|    null|
| 132668|       none|    null|
| 132884|       none|    null|
| 132943|     public|    null|
| 133040|       none|    null|
| 132567|       none|    null|
| 132992|       none|    null|
| 132481|        fee|    null|
| 132481|     street|    null|
| 133016|       none|    null|
| 132660|       none|    null|
| 132563|       none|    null|
| 133024|       none|    null|
| 132898|       none|    null|
| 132665|       none|    null|
| 132905|       none|    null|
| 133001|       none|    null|
| 132651|       none|    null|
| 132818|        fee|    null|
| 132637|       none|    null|
| 133002|       none|    null|
| 132565|       none|    null|
+-------+-----------+--------+

## The restaurant names and their corresponding restaurant cuisine styles, price, location details(latitude, longitude) and smoking_area informations only for those which are located in Morelos state and have closed roofing, also order based on price

In [ ]:
spark.sql('''select distinct name, Rcuisine, price, latitude, longitude, smoking_area from 
restoGenTable a join cuisineTable b 
where a.placeID = b.placeID and a.state = 'Morelos' and a.area = 'closed' 
order by price''').show(truncate = False)

+----------------------------------------------------+---------------+------+----------+-----------+-------------+
|name                                                |Rcuisine       |price |latitude  |longitude  |smoking_area |
+----------------------------------------------------+---------------+------+----------+-----------+-------------+
|Restaurant and Bar and Clothesline Carlos N Charlies|Bar            |high  |18.948657 |-99.235361 |section      |
|Restaurant and Bar and Clothesline Carlos N Charlies|Bar_Pub_Brewery|high  |18.948657 |-99.235361 |section      |
|Restaurant Las Mananitas                            |International  |high  |18.928798 |-99.239513 |none         |
|Cafeteria cenidet                                   |Cafeteria      |low   |18.8760113|-99.2198896|not permitted|
|Restaurant Bar Coty y Pablo                         |Bar            |low   |18.875011 |-99.159422 |none         |
|Subway                                              |Fast_Food      |low   |18.933537 |-99.222497 |not permitted|
|McDonalds Centro                                    |American       |low   |18.9222904|-99.234332 |not permitted|
|Kiku Cuernavaca                                     |Japanese       |medium|18.915421 |-99.184871 |none         |
|Mariscos Tia Licha                                  |Family         |medium|18.9257734|-99.2326355|not permitted|
|Mikasa                                              |Japanese       |medium|18.9101777|-99.2315438|none         |
+----------------------------------------------------+---------------+------+----------+-----------+-------------+

#### Natural Joins
Natural joins make implicit guesses at the columns on which you would like to join. 
It finds matching columns and returns the results. 
Left, right, and outer natural joins are all supported.

WARNING:
Implicit is always dangerous! 
The following query will give us incorrect results because 
the two DataFrames/tables share a column name (id), but it means different things in the datasets. 
You should always use this join with caution.

In [ ]:
#spark.sql("""SELECT * FROM TableA NATURAL JOIN TableB""").show()

spark.sql('''select  * from restoGenTable a NATURAL JOIN paymentModeTable b ''').show()

+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------------------+
|placeID|  latitude|   longitude|                name|  state|          alcohol| smoking_area| price|franchise|  area|           Rpayment|
+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------------------+
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open|               cash|
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open|               VISA|
| 135106|22.1497088|-100.9760928|El Rinc�n de San ...|    SLP|        Wine-Beer|  only at bar|medium|        f|  open|MasterCard-Eurocard|
| 135088|18.8760113| -99.2198896|   Cafeteria cenidet|Morelos|No_Alcohol_Served|not permitted|   low|        f|closed|               cash|
| 135086| 22.141421| -101.013955|Mcdonalds Parque ...|    SLP|No_Alcohol_Served|not permitted|medium|        t|closed|               cash|
| 135086| 22.141421| -101.013955|Mcdonalds Parque ...|    SLP|No_Alcohol_Served|not permitted|medium|        t|closed|               VISA|
| 135086| 22.141421| -101.013955|Mcdonalds Parque ...|    SLP|No_Alcohol_Served|not permitted|medium|        t|closed|MasterCard-Eurocard|
| 135085| 22.150802|  -100.98268|Tortas Locas Hipo...|    SLP|No_Alcohol_Served|not permitted|medium|        f|closed|               cash|
| 135082| 22.151448| -100.915099|la Estrella de Dimas|    SLP|No_Alcohol_Served|         none|medium|        f|closed|               cash|
| 135081| 22.164842| -100.960493|             El Club|    SLP|No_Alcohol_Served|         none|medium|        f|closed|               cash|
| 135081| 22.164842| -100.960493|             El Club|    SLP|No_Alcohol_Served|         none|medium|        f|closed|               VISA|
| 135081| 22.164842| -100.960493|             El Club|    SLP|No_Alcohol_Served|         none|medium|        f|closed|MasterCard-Eurocard|
| 135080| 22.145008| -100.997969|         los Toneles|    SLP|No_Alcohol_Served|      section|  high|        f|closed|               cash|
| 135080| 22.145008| -100.997969|         los Toneles|    SLP|No_Alcohol_Served|      section|  high|        f|closed|               VISA|
| 135080| 22.145008| -100.997969|         los Toneles|    SLP|No_Alcohol_Served|      section|  high|        f|closed|MasterCard-Eurocard|
| 135080| 22.145008| -100.997969|         los Toneles|    SLP|No_Alcohol_Served|      section|  high|        f|closed|   American_Express|
| 135079| 22.156376| -100.998355|          Koye Sushi|    SLP|No_Alcohol_Served|         none|  high|        f|closed|               cash|
| 135079| 22.156376| -100.998355|          Koye Sushi|    SLP|No_Alcohol_Served|         none|  high|        f|closed|   American_Express|
| 135076| 22.181017| -100.973614|Restaurante Puebl...|    SLP|        Wine-Beer|         none|  high|        f|closed|               cash|
| 135076| 22.181017| -100.973614|Restaurante Puebl...|    SLP|        Wine-Beer|         none|  high|        f|closed|               VISA|
+-------+----------+------------+--------------------+-------+-----------------+-------------+------+---------+------+-------------------+
only showing top 20 rows

#### Cross (Cartesian) Joins
Cross-joins in simplest terms are inner joins that do not specify a predicate. 
Cross joins will join every single row in the left DataFrame to ever single row in the right DataFrame. 
This will cause an absolute explosion in the number of rows contained in the resulting DataFrame. 
If you have 1,000 rows in each DataFrame, the cross-join of these will result in 1,000,000 (1,000 x 1,000) rows. 
For this reason, you must very explicitly state that you want a cross-join by using the cross join keyword:

tableA.crossJoin(tableB).show()

spark.sql("""SELECT * FROM TableA CROSS JOIN TableB""").show()

#### Random Samples

In [ ]:
## To create a sample DataFrame from the base DataFrame
## Use sample operation to take sample of a DataFrame. 
## The sample method on DataFrame will return a DataFrame containing the sample of base DataFrame. 
## The sample method takes 3 parameters.
## withReplacement = True or False to select a observation with or without replacement.
## fraction = x, where x = .5 shows that we want to have 50% data in sample DataFrame.
## seed to reproduce the result
sampleDF1 = trainDF.sample(False, 0.2, 1234)
sampleDF2 = trainDF.sample(False, 0.2, 4321)
print(sampleDF1.count(), sampleDF2.count())

(76916, 76981)

### Miscellaneous

#### Unions

In [ ]:
df1 = spark.createDataFrame([[1, 'Alex', 25],[3, 'Carol', 53],[5, 'Emily', 25],[7, 'Gabriel', 32],[9, 'Ilma', 35],[11, 'Kim', 45]], ['id', 'name', 'age'])
df2 = spark.createDataFrame([[2, 'Ben', 66],[4, 'Daniel', 28],[6, 'Frank', 64],[8, 'Harley', 29],[10, 'Jack', 35],[12, 'Litmya', 45]], ['id', 'name', 'age'])
print("Before")
print("DataFrame-1")
print(df1.show())
print("DataFrame-2")
print(df2.show())
print("After")
df1 = df1.union(df2)
print("DataFrame-1")
print(df1.show())

Before
DataFrame-1
+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|   Alex| 25|
|  3|  Carol| 53|
|  5|  Emily| 25|
|  7|Gabriel| 32|
|  9|   Ilma| 35|
| 11|    Kim| 45|
+---+-------+---+

None
DataFrame-2
+---+------+---+
| id|  name|age|
+---+------+---+
|  2|   Ben| 66|
|  4|Daniel| 28|
|  6| Frank| 64|
|  8|Harley| 29|
| 10|  Jack| 35|
| 12|Litmya| 45|
+---+------+---+

None
After
DataFrame-1
+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|   Alex| 25|
|  3|  Carol| 53|
|  5|  Emily| 25|
|  7|Gabriel| 32|
|  9|   Ilma| 35|
| 11|    Kim| 45|
|  2|    Ben| 66|
|  4| Daniel| 28|
|  6|  Frank| 64|
|  8| Harley| 29|
| 10|   Jack| 35|
| 12| Litmya| 45|
+---+-------+---+

None

#### Unions and condtional append

In [ ]:
df1.union(df2).where("age < 60").show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|   Alex| 25|
|  3|  Carol| 53|
|  5|  Emily| 25|
|  7|Gabriel| 32|
|  9|   Ilma| 35|
| 11|    Kim| 45|
|  4| Daniel| 28|
|  8| Harley| 29|
| 10|   Jack| 35|
| 12| Litmya| 45|
|  4| Daniel| 28|
|  8| Harley| 29|
| 10|   Jack| 35|
| 12| Litmya| 45|
+---+-------+---+

#### String Manipulations

In [ ]:
from pyspark.sql.functions import lit, ltrim, rtrim, rpad, lpad, trim

trainDF.select(
ltrim(lit(" HELLO ")).alias("ltrim"),
rtrim(lit(" HELLO ")).alias("rtrim"),
trim(lit(" HELLO ")).alias("trim"),
lpad(lit("HELLO"), 7, " ").alias("lp"),
rpad(lit("HELLO"), 7, " ").alias("rp"))\
.show(2,truncate=False)

+------+------+-----+-------+-------+
|ltrim |rtrim |trim |lp     |rp     |
+------+------+-----+-------+-------+
|HELLO | HELLO|HELLO|  HELLO|HELLO  |
|HELLO | HELLO|HELLO|  HELLO|HELLO  |
+------+------+-----+-------+-------+
only showing top 2 rows

In [ ]:
spark.sql("""SELECT
ltrim(' HELLLOOOO ') AS ltrim,
rtrim(' HELLLOOOO ') AS rtrim,
trim(' HELLLOOOO ') AS trim,
lpad('HELLOOOO ', 3, ' ') AS lp,
rpad('HELLOOOO ', 10, ' ') AS rp
FROM
trainDFTable""").show(2)

+----------+----------+---------+---+----------+
|     ltrim|     rtrim|     trim| lp|        rp|
+----------+----------+---------+---+----------+
|HELLLOOOO | HELLLOOOO|HELLLOOOO|HEL|HELLOOOO  |
|HELLLOOOO | HELLLOOOO|HELLLOOOO|HEL|HELLOOOO  |
+----------+----------+---------+---+----------+
only showing top 2 rows

#### Working with Date and Time

In [ ]:
from pyspark.sql.functions import current_date, current_timestamp
dateDF = spark.range(10)\
.withColumn("today", current_date())\
.withColumn("now", current_timestamp())
dateDF.show(truncate = False)

+---+----------+-----------------------+
|id |today     |now                    |
+---+----------+-----------------------+
|0  |2020-02-09|2020-02-09 10:36:23.987|
|1  |2020-02-09|2020-02-09 10:36:23.987|
|2  |2020-02-09|2020-02-09 10:36:23.987|
|3  |2020-02-09|2020-02-09 10:36:23.987|
|4  |2020-02-09|2020-02-09 10:36:23.987|
|5  |2020-02-09|2020-02-09 10:36:23.987|
|6  |2020-02-09|2020-02-09 10:36:23.987|
|7  |2020-02-09|2020-02-09 10:36:23.987|
|8  |2020-02-09|2020-02-09 10:36:23.987|
|9  |2020-02-09|2020-02-09 10:36:23.987|
+---+----------+-----------------------+

In [ ]:
dateDF.createOrReplaceTempView("dateDFTable")
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

In [ ]:
from pyspark.sql.functions import date_add, date_sub
dateDF.select(date_sub(col("today"), 10),date_add(col("today"), 10)).show(1)

+-------------------+-------------------+
|date_sub(today, 10)|date_add(today, 10)|
+-------------------+-------------------+
|         2020-01-30|         2020-02-19|
+-------------------+-------------------+
only showing top 1 row

In [ ]:
spark.sql("""
SELECT
date_sub(today, 10),
date_add(today, 10)
FROM
dateDFTable
""").show(1)

+-------------------+-------------------+
|date_sub(today, 10)|date_add(today, 10)|
+-------------------+-------------------+
|         2020-01-30|         2020-02-19|
+-------------------+-------------------+
only showing top 1 row

In [ ]:
from pyspark.sql.functions import datediff, months_between, to_date
dateDF\
.withColumn("week_ago", date_sub(col("today"), 7))\
.select(datediff(col("week_ago"), col("today")).alias('datediff_today_weekago'))\
.show(1)

+----------------------+
|datediff_today_weekago|
+----------------------+
|                    -7|
+----------------------+
only showing top 1 row

In [ ]:
dateDF\
.select(
to_date(lit("2017-01-01")).alias("start"),
to_date(lit("2018-02-18")).alias("end"))\
.select(months_between(col("end"), col("start")))\
.show(1)

+--------------------------+
|months_between(end, start)|
+--------------------------+
|                13.5483871|
+--------------------------+
only showing top 1 row

In [ ]:
spark.sql("""
SELECT
to_date('2016-01-01') AS date,
months_between('2017-01-01', '2016-01-01') AS months_between,
datediff('2017-01-01', '2016-01-01') AS datediff_days
FROM
dateDFTable
""").show(2)

+----------+--------------+-------------+
|      date|months_between|datediff_days|
+----------+--------------+-------------+
|2016-01-01|          12.0|          366|
|2016-01-01|          12.0|          366|
+----------+--------------+-------------+
only showing top 2 rows

__WARNING__
<br>Spark will not throw an error if it cannot parse the date, it’ll just return null. This can be a bit tricky in larger pipelines because you may be expecting your data in one format and getting it in another. To illustrate, let’s take a look at the date format that has switched from year-month-day to year-day-month. Spark will fail to parse this date and silently return null instead.

In [ ]:
### 2016-20-12 - year-day-month
### 2017-12-11 - year-month-day
dateDF.select(to_date(lit("2016-20-12")),to_date(lit("2017-12-11"))).show(1)

+---------------------+---------------------+
|to_date('2016-20-12')|to_date('2017-12-11')|
+---------------------+---------------------+
|                 null|           2017-12-11|
+---------------------+---------------------+
only showing top 1 row